p {
    text-align: center;
}

#board {
    border-collapse: collapse;
    margin: 0 auto;
}

#board td {
    border: 1px solid black;
    width: 49px;
    height: 49px;
    text-align: center;
}

#board caption {
    font-size: xx-large;
    font-weight: bold;
}

img {
    width: 45px;
    height: 45px;
    position: relative;
    animation-fill-mode: backwards;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#piecesCaptured,
#piecesLost {
    width: 60px;
}

main {
    width: 510px;
}

#piecesCaptured td:first-child,
#piecesLost td:last-child {
    font-weight: bold;
}
